$primary-backgr-color: #c3cfe2;
$winc-academy-blue: #686de0;
$standard-padding: 40px;
$standard-margin: 40px;
$standard-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
